[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest
[submodule "vendor/TBS"]
	path = vendor/TBS
	url = https://github.com/pinwhell/TBS
[submodule "vendor/thread-pool"]
	path = vendor/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "CStone"]
	path = vendor/CStone
	url = https://github.com/pinwhell/CStone
