[submodule "vendor/ThunderByteScan"]
	path = vendor/ThunderByteScan
	url = https://github.com/pinwhell/ThunderByteScan
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest
[submodule "vendor/TBS"]
	path = vendor/TBS
	url = https://github.com/pinwhell/TBS
[submodule "vendor/capstone"]
	path = vendor/capstone
	url = https://github.com/capstone-engine/capstone
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/ELFPP"]
	path = vendor/ELFPP
	url = https://github.com/pinwhell/ELFPP
[submodule "vendor/CStone"]
	path = vendor/CStone
	url = https://github.com/pinwhell/CStone
