[submodule "vendor/ThunderByteScan"]
	path = vendor/ThunderByteScan
	url = https://github.com/pinwhell/ThunderByteScan
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
